/ChainOfResponsibility/nbproject/private/
/ChainOfResponsibility/build/
/StatePattern/nbproject/private/
/StatePattern/build/
/Iterator/nbproject/private/
/Iterator/build/
/Mediator/nbproject/private/
/Mediator/build/